@CHARSET "UTF-8";

.twitter-wrap {
	display: flex;
}

.twitter-wrap #postman-main-menu {
	flex: 1;
	margin: 0;
	margin-right: 10px;
	overflow: hidden;
	border-radius: 5px;
}

.welcome-panel-content {
	width: 100%;
}

#postman-main-menu.welcome-panel {
	padding: 0px 10px 5px;
	overflow: hidden;
}

#postman-main-menu.advanced_config {
	margin: 0;
}

form#postman_wizard legend, form#postman_test_email_wizard legend {
	font-weight: bold;
}

form label {
	font-weight: bold;
	margin-right: 10px;
}

form span.postman_input_description {
	font-size: 0.8em;
}

table#connectivity_test_table {
	width: 100%;
	display: none;
	border: solid 1px #ddd;
}

table#connectivity_test_table tr {
	background-color: #fff;
}

table#connectivity_test_table tr td {
	padding: 5px;
	margin: 0;
	text-align: center;
}

table th.port_25, table th.port_443, table th.port_465, table th.port_587
	{
	width: 17%;
}

table#testing_table td.port {
	width: 100px;
}

p#wizard_oauth2_help span.error {
	color: red;
}

form#postman_wizard span.postman_input_description + label {
	margin-top:2em;
}

fine_print {
	font-size: 0.9em;
}

input.input_plugin_radio {
	margin-left: 20px;
}

.wizard>.content {
	min-height: 32em;
}

dt {
	font-style: italic;
}

dt em {
	font-style: normal;
}

p#back_to_main_menu {
	text-align: right;
	margin-top: 10px;
	padding-right: 10px;
}

.welcome-panel-column.welcome-panel-last {
	padding-bottom: 10px;
}

.new-item {
	display: inline-block;
	padding: 5px;
	border-radius: 20px;
	background-color: red;
	margin-right: 10px;
}

.new-item span {
	font-weight: bold;
	color: white;
	animation: pulse 2s linear 0s infinite;
}

.align-middle {
	display: inline-block;
	vertical-align: middle;
}

.post-badge {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 142px;
    height: 50px;
    width: 173px;
    color: #fafafa;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin: 0 -5px;
    background: url(images/badge.png) no-repeat;
}


@keyframes pulse {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 0.25;
	}

	50% {
		opacity: 0.5;
	}

	75% {
		opacity: 0.75;
	}

	100% {
		opacity: 1;
	}
}
