@CHARSET "UTF-8";

/* Post SMTP Global Classes Starts */

body.admin_page_postman-configuration_wizard,
body.admin_page_postman-manage-options,
body.admin_page_postman-configuration,
body.toplevel_page_postman,
body.post-smtp_page_postman_email_log {
	background-color: #fff;
}

.ps-home-main a {
    text-decoration: none;
}

.ps-main-header.post-smtp-welcome-panel {
    padding: 0px 15px;
    font-size: 19px;
}

.ps-config-bar {
    margin-bottom: 25px;
    border: 1px solid #e6e6e6;
    padding: 25px;
    font-size: 18px;
    font-weight: bold;
}

.ps-left {
    float: left;
}

.ps-right {
    float: right;
}

.ps-socket-wizad-row {
    display: inline-flex;
    margin: 20px 0;
}

.ps-single-socket-outer {
    border: 1px solid #e4e4e6;
    background: #f9f9f9;
    text-align: center;
    padding: 5px 10px;
    margin: 0 7px;
    border-radius: 13px;
    min-height: 106px;
    max-width: 187px;
}

.ps-socket-wizad-row input {
    display: inline-block!important;
    margin-left: 15px;
}

.ps-socket-wizad-row label {
    font-size: 12px;
}

.ps-container-90 {
    width: 90%;
    margin: 0 auto;
}

.ps-textarea {
    border: 2px solid #e4e4e6;
    border-radius: 12px;
    scroll-behavior: auto;
    background: #fff!important;
    padding: 13px;
    color: #7e7e7e;
    width: 100%;
}

.ps-btn-orange {
    background: #faaa39!important;
    color: #FFF!important;
    text-decoration: none;
    border-radius: 7px!important;
    border: none!important;
    padding: 6px 8px;
    position: relative;
    line-height: normal;
}

.ps-btn-red {
    background: #ef090b!important;
    color: #FFF!important;
    text-decoration: none;
    border-radius: 7px!important;
    border: none!important;
    padding: 6px 8px;
    position: relative;
    line-height: normal;
}

.ps-btn-light-blue {
    background: #1d9ad2! important;
    color: #FFF!important;
    text-decoration: none;
    border-radius: 7px!important;
    border: none!important;
    padding: 6px 8px;
    position: relative;
    line-height: normal;
}

.ps-btn-blue {
    background: #123694! important;
    color: #FFF!important;
    text-decoration: none;
    border-radius: 7px!important;
    border: none!important;
    padding: 6px 8px;
    position: relative;
    line-height: normal;
}

.ps-btn-orange:hover {
	color: #fff;
}

.ps-ib {
    display: inline-block;
}

.ps-w-50 {
    width: 50%;
}

.ps-input {
    border-color: #e4e4e6!important;
    color: #838383!important;
    padding: 2px 10px!important;
}

.ps-w-75 {
	width: 75%;
}

.ps-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 30px;
}


.ps-vm {
    vertical-align: middle;
}


/* Post SMTP Global Classes Ends */

.ps-home-main .ps-wizard {
    text-align: center;
    margin: 35px 0;
}

.ps-flex.ps-home-main {
    width: 100%;
    background: #f9f9f9;
    border: 1px solid #e6e6e6;
}

.ps-home-main img {
    vertical-align: middle;
}

.ps-home-main a {
    color: #1d9ad2;
}

.ps-setting-box {
    padding: 25px;
    min-height: 275px;
}

.ps-main-container-wrap {
    margin: 0 auto;
}

.ps-email-templates {
    border: 2px solid #2b96ce;
    padding: 5px 35px;
    border-radius: 30px;
    margin: 30px 0;
    width: 33vw;
}

.ps-login-designer {
    border: 2px solid #123694;
    padding: 5px 35px;
    border-radius: 30px;
    margin: 30px 0;
    width: 33vw;
}

.ps-email-templates h4 {
    margin: 0px;
    color: #2b96ce;
}

.ps-login-designer h4 {
    margin: 0px;
    color: #123694;
}

.ps-home-bottom h1 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.ps-home-bottom li {
    margin: 0;
}

.ps-email-templates ul li::before {
    content: "\2022";
    color: #2b96ce;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.ps-login-designer ul li::before {
    content: "\2022";
    color: #123694;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.ps-email-templates h4 {
    margin: 0px;
}

.ps-home-bottom a {
    color: #faaa39;
}

.ps-home-bottom {
    margin: 25px auto;
}

.ps-wizard-socket-logo {
    padding: 29px 0;
}

.ps-config-bar .ps-right {
    color: #817d7d;
}

.ps-config-bar a {
    margin-left: 15px;
}

.ps-home-middle {
    border-bottom: 3px dashed #e6e6e6;
    margin: 35px auto;
    padding-bottom: 20px;
}

.ps-single-socket-outer.ps-sib {
    position: relative;
}

img.ps-sib-recommended {
    position: absolute;
    left: -8px;
    top: 1px;
}

.twitter-wrap {
	display: flex;
}

.twitter-wrap #postman-main-menu {
	flex: 1;
	margin: 0;
	margin-right: 10px;
	overflow: hidden;
	border-radius: 5px;
}

.post-smtp-welcome-panel-content {
    width: 100%;
}

#postman-main-menu.welcome-panel {
	padding: 0px 10px 5px;
	overflow: hidden;
}

#postman-main-menu.advanced_config {
	margin: 0;
}

form#postman_wizard legend, form#postman_test_email_wizard legend {
	font-weight: bold;
}

form label {
	font-weight: bold;
	margin-right: 10px;
}

form span.postman_input_description {
	font-size: 0.8em;
}

table#connectivity_test_table {
	width: 100%;
	display: none;
	border: solid 1px #ddd;
}

table#connectivity_test_table tr {
	background-color: #fff;
}

table#connectivity_test_table tr td {
	padding: 5px;
	margin: 0;
	text-align: center;
}

table th.port_25, table th.port_443, table th.port_465, table th.port_587
	{
	width: 17%;
}

table#testing_table td.port {
	width: 100px;
}

p#wizard_oauth2_help span.error {
	color: red;
}

form#postman_wizard span.postman_input_description + label {
	margin-top:2em;
}

input.input_plugin_radio {
	margin-left: 20px;
}

.wizard>.content {
	min-height: 32em;
}

dt {
	font-style: italic;
}

dt em {
	font-style: normal;
}

p#back_to_main_menu {
	text-align: right;
	margin-top: 10px;
	padding-right: 10px;
}	

.new-item {
	display: inline-block;
	padding: 5px;
	border-radius: 20px;
	background-color: red;
	margin-right: 10px;
}

.new-item span {
	font-weight: bold;
	color: white;
	animation: pulse 2s linear 0s infinite;
}

.align-middle {
	display: inline-block;
	vertical-align: middle;
}

.post-badge {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 142px;
    height: 50px;
    width: 173px;
    color: #fafafa;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin: 0 -5px;
    background: url(images/badge.png) no-repeat;
}

.post-smtp-welcome-panel {
    background: #f9f9f9;
    border: 1px solid #e6e6e6;
    margin: 25px 0;
}

.clear {
	clear: both;
}

.welcome-panel-column-container {
    width: 95%;
    margin: 0 auto;
}

.back-to-menu-link {
	padding: 15px 0;
}

.post-smtp-welcome-panel {
    background: #f9f9f9;
    border: 1px solid #e6e6e6;
    margin: 25px 0;
    border-radius: 9px;
}

#postman_wizard-p-2 {
    line-height: 55px;
}

.no-configuration.ps-config-bar {
    background: #ffe0b2;
}

/* 
* Modifying jquery-steps.css Starts
* @since 2.1 
*/

.wizard > .steps .number {
    font-size: 13px;
    margin-right: 15px;
}

.wizard > .steps {
	font-weight: bold;
}

.wizard > .steps a, 
.wizard > .steps a:hover, 
.wizard > .steps a:active {
    margin-bottom: 20px;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active {
    background: #ffff;
    color: #aaa;
    cursor: default;
    border: 1px solid #e4e4e6;
}

.wizard > .steps .current a, 
.wizard > .steps .current a:hover, 
.wizard > .steps .current a:active {
    background: #456dff;
    color: #fff;
    cursor: default;
}

.wizard > .steps .done a, 
.wizard > .steps .done a:hover, 
.wizard > .steps .done a:active {
    background: #4db556;
    color: #fff;
}

.wizard.vertical > .steps {
    background: #f9f9f9;
    border: 1px solid #e6e6e6;
    border-radius: 9px;
    padding: 25px 21px;
    width: 33%;
}

.wizard.vertical > .content {
    float: right;
    background: #fff;
    width: 50%;
    padding: 25px 35px;
    border-left: 4px solid #e4e4e6;
    border-radius: 0;
}

.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    padding: 12px;
}

.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    background: #faaa39;
}

legend#wizard_recommendation span {
    color: #000!important;
}

#postman_wizard .steps li .number, 
#postman_test_email_wizard .steps li .number {
    background: #e6e6e6;
    padding: 1px 3px 2px 7px;
    border-radius: 50%;
    color: #707175;
    font-size: 11px;
}

/* 
* Modifying jquery-steps.css Ends
*/

.user_override input {
    display: inline-block!important;
}

.user_override label {
    font-size: 12px;
}

section#export_settings,
section#import_settings {
    border: 2px solid #e4e4e6;
    display: inline-block;
    padding: 35px;
    background: #f9f9f9;
    border-radius: 9px;
    min-height: 385px;
    width: 43%;
}

section#delete_settings {
    margin-top: 40px;
}

.ui-widget-header {
    border-bottom: none;
}

.ui-widget-content,
.ui-widget-header {
    background-color: transparent;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
    background-color: #fff;
}

.ui-tabs .ui-tabs-nav li {
    border: 1px solid #e6e6e6;
}

.ui-widget-content .ui-state-default a {
    color: #797979;
}

.ui-tabs .ui-tabs-nav li a {
    padding: 0.8em 1.8em;
    font-size: 19px;
    font-weight: bold;
}

.ui-tabs .ui-tabs-nav li:first-child {
    border-top-left-radius: 17px;
}

.ui-tabs .ui-tabs-nav li:last-child {
    border-top-right-radius: 17px;
}

.ui-tabs .ui-tabs-nav li.visited-config-ui-tab {
    background-color: #4db556;
}

.ui-tabs .ui-tabs-active,
.ui-tabs .ui-tabs-nav li.visited-config-ui-tab.ui-tabs-active {
    background: #466cff;
}

.ui-tabs .ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.visited-config-ui-tab.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.visited-config-ui-tab a {
    color: #fff;
}
.ps-less-secure {
    color: red;
}

#user_auth_override td {
    padding-bottom: 15px;
}


@keyframes pulse {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 0.25;
	}

	50% {
		opacity: 0.5;
	}

	75% {
		opacity: 0.75;
	}

	100% {
		opacity: 1;
	}
}

@media (min-width: 1024px) and (max-width: 1171px) {

    .ps-email-templates,
    .ps-login-designer {
        width: 30vw;
    }

    .ps-config-bar {
        font-size: 14px;
    }

    .ps-flex {
        justify-content: space-between;
    }
}

/* Wizard Responsive */
@media (min-width: 1024px) and (max-width: 1393px) { 

    .wizard > .steps {
        font-size: 11px;
    }

    .wizard.vertical > .content {
        width: 47%;
    }

    .ps-single-socket-outer {
        max-width: 152px;
    }

    .ps-wizard-socket-logo {
        width: 144px;
    }

    #email-log-filter {
        line-height: 40px;
    }

}

/* Email Log Styling */

#postman-email-log-filter .form-control {
    margin: 0 5px;
}

.post-smtp_page_postman_email_log .ps-config-bar {
    padding: 10px
}

@CHARSET "UTF-8";

th#date {
	width:15%;
}

.postman-log-row {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
}

#postman-log-actions postman-log-actions

/* Date Picker Default Styles */
.ui-datepicker {
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-top: none;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    min-width: 17em;
    width: auto;
}

.ui-datepicker * {
    padding: 0;
    font-family: "Open Sans", sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.ui-datepicker table {
    font-size: 13px;
    margin: 0;
    border: none;
    border-collapse: collapse;
}

.ui-datepicker .ui-widget-header,
.ui-datepicker .ui-datepicker-header {
    background-image: none;
    border: none;
    color: #fff;
    font-weight: normal;
}

.ui-datepicker .ui-datepicker-header .ui-state-hover {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: relative;
    top: 0;
    height: 34px;
    width: 34px;
}

.ui-datepicker .ui-state-hover.ui-datepicker-prev,
.ui-datepicker .ui-state-hover.ui-datepicker-next {
    border: none;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-prev-hover {
    left: 0;
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-next-hover {
    right: 0;
}

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
    display: none;
}

.ui-datepicker .ui-datepicker-prev {
    float: left;
}

.ui-datepicker .ui-datepicker-next {
    float: right;
}

.ui-datepicker .ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-next:before {
    font: normal 20px/34px 'dashicons';
    padding-left: 7px;
    color: #fff;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 34px;
    height: 34px;
}

.ui-datepicker .ui-datepicker-prev:before {
    content: '\f341';
}

.ui-datepicker .ui-datepicker-next:before {
    content: '\f345';
}

.ui-datepicker .ui-datepicker-prev-hover:before,
.ui-datepicker .ui-datepicker-next-hover:before {
    opacity: 0.7;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 33%;
}

.ui-datepicker thead {
    color: #fff;
    font-weight: 600;
}

.ui-datepicker th {
    padding: 10px;
}

.ui-datepicker td {
    padding: 0;
    border: 1px solid #f4f4f4;
    background-color: #f4f4f4;
}

.ui-datepicker td.ui-datepicker-other-month {
    border: transparent;
}

.ui-datepicker td.ui-datepicker-week-end {
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
}

.ui-datepicker td.ui-datepicker-today {
    background-color: #f0f0c0;
}

.ui-datepicker td.ui-datepicker-current-day {
    background: #bbdd88;
}

.ui-datepicker td .ui-state-default {
    background: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    width: auto;
    display: block;
    padding: 5px 10px;
    font-weight: normal;
    color: #444;
}

.ui-datepicker td.ui-state-disabled .ui-state-default {
    opacity: 0.5;
}

/* Default Color Scheme */
.ui-datepicker .ui-widget-header,
.ui-datepicker .ui-datepicker-header {
    background: #00a0d2;
}

.ui-datepicker thead {
    background: #32373c;
}

.ui-datepicker td .ui-state-hover {
    background: #0073aa;
    color: #fff;
}

/* WordPress Color Schemes */

/* Fresh */
.admin-color-fresh .ui-datepicker .ui-widget-header,
.admin-color-fresh .ui-datepicker .ui-datepicker-header {
    background: #00a0d2;
}

.admin-color-fresh .ui-datepicker thead {
    background: #32373c;
}

.admin-color-fresh .ui-datepicker td .ui-state-hover {
    background: #0073aa;
    color: #fff;
}

/* Blue */
.admin-color-blue .ui-datepicker .ui-widget-header,
.admin-color-blue .ui-datepicker .ui-datepicker-header {
    background: #52accc;
}

.admin-color-blue .ui-datepicker thead {
    background: #4796b3;
}

.admin-color-blue .ui-datepicker td .ui-state-hover {
    background: #096484;
    color: #fff;
}

/* Coffee */
.admin-color-coffee .ui-datepicker .ui-widget-header,
.admin-color-coffee .ui-datepicker .ui-datepicker-header {
    background: #59524c;
}

.admin-color-coffee .ui-datepicker thead {
    background: #46403c;
}

.admin-color-coffee .ui-datepicker td .ui-state-hover {
    background: #c7a589;
    color: #fff;
}

/* Ectoplasm */
.admin-color-ectoplasm .ui-datepicker .ui-widget-header,
.admin-color-ectoplasm .ui-datepicker .ui-datepicker-header {
    background: #523f6d;
}

.admin-color-ectoplasm .ui-datepicker thead {
    background: #413256;
}

.admin-color-ectoplasm .ui-datepicker td .ui-state-hover {
    background: #a3b745;
    color: #fff;
}

/* Midnight */
.admin-color-midnight .ui-datepicker .ui-widget-header,
.admin-color-midnight .ui-datepicker .ui-datepicker-header {
    background: #363b3f;
}

.admin-color-midnight .ui-datepicker thead {
    background: #26292c;
}

.admin-color-midnight .ui-datepicker td .ui-state-hover {
    background: #e14d43;
    color: #fff;
}

/* Ocean */
.admin-color-ocean .ui-datepicker .ui-widget-header,
.admin-color-ocean .ui-datepicker .ui-datepicker-header {
    background: #738e96;
}

.admin-color-ocean .ui-datepicker thead {
    background: #627c83;
}

.admin-color-ocean .ui-datepicker td .ui-state-hover {
    background: #9ebaa0;
    color: #fff;
}

/* Sunrise */
.admin-color-sunrise .ui-datepicker .ui-widget-header,
.admin-color-sunrise .ui-datepicker .ui-datepicker-header,
.admin-color-sunrise .ui-datepicker .ui-datepicker-header .ui-state-hover {
    background: #cf4944;
}

.admin-color-sunrise .ui-datepicker th {
    border-color: #be3631;
    background: #be3631;
}

.admin-color-sunrise .ui-datepicker td .ui-state-hover {
    background: #dd823b;
    color: #fff;
}

/* Light */
.admin-color-light .ui-datepicker .ui-widget-header,
.admin-color-light .ui-datepicker .ui-datepicker-header {
    background: #e5e5e5;
}

.admin-color-light .ui-datepicker thead {
    background: #888;
}

.admin-color-light .ui-datepicker .ui-datepicker-title,
.admin-color-light .ui-datepicker td .ui-state-default,
.admin-color-light .ui-datepicker .ui-datepicker-prev:before,
.admin-color-light .ui-datepicker .ui-datepicker-next:before {
    color: #555;
}

.admin-color-light .ui-datepicker td .ui-state-hover {
    background: #e5e5e5;
}

/* bbPress Color Schemes */

/* Evergreen */
.admin-color-bbp-evergreen .ui-datepicker .ui-widget-header,
.admin-color-bbp-evergreen .ui-datepicker .ui-datepicker-header {
    background: #56b274;
}

.admin-color-bbp-evergreen .ui-datepicker thead {
    background: #36533f;
}

.admin-color-bbp-evergreen .ui-datepicker td .ui-state-hover {
    background: #446950;
    color: #fff;
}

/* Mint */
.admin-color-bbp-mint .ui-datepicker .ui-widget-header,
.admin-color-bbp-mint .ui-datepicker .ui-datepicker-header {
    background: #4ca26a;
}

.admin-color-bbp-mint .ui-datepicker thead {
    background: #4f6d59;
}

.admin-color-bbp-mint .ui-datepicker td .ui-state-hover {
    background: #5fb37c;
    color: #fff;
}